.father {
    position: relative;
    height: 940px;
    background: url("pic/bc_pic1.jpg") repeat;
}

.father .son {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: rgba(135, 206, 250, 0.6);
}

.father .son#son1 {
    top: 20%;
    left: 20%;
    margin-left: -100px;
}

.father .son#son2 {
    top: 20%;
    left: 40%;
    margin-left: -100px;
}

.father .son#son3 {
    top: 20%;
    left: 60%;
    margin-left: -100px;
}

.father .son#son4 {
    top: 20%;
    left: 80%;
    margin-left: -100px;
}

.father .son#son5 {
    top: 50%;
    left: 20%;
    margin-left: -100px;
}

.father .son#son6 {
    top: 50%;
    left: 40%;
    margin-left: -100px;
}

.father .son#son7 {
    top: 50%;
    left: 60%;
    margin-left: -100px;
}

.father .son#son8 {
    top: 50%;
    left: 80%;
    margin-left: -100px;
}

font {
    color: black;
    font-size: 30px;
}

a {
    display: block;
    text-decoration: none;
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 200px;
}

a:hover {
    background-color: rgba(255, 255, 255, 1);
}