<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>

</head>

<body>
<input type="file" name="file">
<input type="submit" value="submit">
name：<input type="text" name="name" id="name">
password：<input type="password" name="password" id="password">
<video id="video" width="640" height="480" autoplay></video>
<button id="snap">截图</button>
<canvas id="canvas" width="640" height="480" ></canvas>


<script language="javascript">
    // Elements for taking the snapshot
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var video = document.getElementById('video');

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function () {
        context.drawImage(video, 0, 0, 640, 480);
    });
    // Grab elements, create settings, etc.
    var video = document.getElementById('video');

    // Get access to the camera!
    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // Not adding `{ audio: true }` since we only want video now
        navigator.mediaDevices.getUserMedia({video: true}).then(function (stream) {
            //video.src = window.URL.createObjectURL(stream);
            video.srcObject = stream;
            video.play();
        });
    }
</script>

</body>
</html>