<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>updateLib</title>
    <style>
        input {
            position: absolute;
            top: 40%;
            left: 50%;
            margin-left: -130px;
            height: 50px;
            width: 260px;
            font-size: 40px;
            box-sizing: border-box;
        }
        span {
            position: absolute;
            height: 500px;
            width: 100px;
            left: 15%;
            top: 8%;
            font-size: 100px;
            color: black;
        }
    </style>
</head>
<body>
<span>更新数据</span>
<form action="/updateLibSuccess" method="post" enctype="multipart/form-data">
    <input type="submit" value="更新数据">
</form>
</body>
</html>